<h1>Registro de usuario</h1>

<form>  
  <input type="text" name="text" id="" [(ngModel)]="nombre"><br>
  <input type="text" name="text" id="" [(ngModel)]="apellido"><br>
  <input type="submit" value="Registrar" id="" (click)="registrarUsuario()">
</form>

<br>

<p *ngIf="registrado; else sinRegistrar">{{mensaje}} con el nombre de <span [ngStyle]="{color: nombre === 'Juan' ? 'red' : 'black'}">{{nombre}}</span> {{apellido}}</p>
<p *ngIf="registrado; else sinRegistrar">{{mensaje}} con el nombre de <span [ngClass]="{Juanes: nombre === 'Juan'}">{{nombre}}</span> {{apellido}}</p>

<ng-template #sinRegistrar>

  <p>Nadie registrado</p>

</ng-template>

<br><br>

<ul>
  <li *ngFor="let entrada of entradas; let i=index; let odd=odd">
    Index {{i}} - {{entrada.titulo}} - Es impar {{odd}}
  </li>
</ul>